* {
margin: 0;
padding: 0px;
}

@font-face {
font-family: 'folks';
src: url('file:///Users/javierfdr/devel/quinielaca/devel/quini-conejo-chon/testing/media/Folks-Normal.ttf');
}

body {
    font: normal 100% Helvetica, Arial, sans-serif;
	font-family: 'folks', Helvetica, Arial;
	font-stretch: wider;
	background: #1b1d1f url('file:///Users/javierfdr/devel/quinielaca/quinielaca-bg.jpg') center center fixed no-repeat;
	-moz-background-size: cover;
  	background-size: cover;
  	height: 100%;
}

h1 {
    font-size: 1.5em;        /* 24px / 16px = 1.5em */
}

ul {
    font-size: 0.875em;      /* 14px / 16px = 0.875em */
}

#top{
	position: absolute;
	top:0;
	height: 113px;
	width: 100%;
	left: 0px;
	top: 0%;
	opacity: 1;
	background: url('file:///Users/javierfdr/devel/quinielaca/devel/quini-conejo-chon/testing/media/img/top-mini-bg.png') repeat-x;
	-moz-box-shadow: -150px 80px 120px #EEE;
	-webkit-box-shadow: -40px 80px 120px rgba(255,255,255,0.5);
	/*box-shadow: 0 80px 40px #000;*/

}

.wrapper {
	position: relative;
	top: 130px; /*top width*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: auto;
    padding: 0 1em;
    width: 960px;
    /*min-width: 60.00em;
    max-width: 60.00em;      /* 960px / 16px = 60.00em */

}

.footer{
	clear: both;
	position: relative;
	top: 100px;
	width: 102%;
	margin-left: -1.3%;
	height: 30px;
	bottom: 0;
	background-color: #000;
}

div#buttons-layer{
	position: relative;
	height: 80px;
	top: -5px;

}
div#buttons-layer ul{
	display: inline;
	list-style-type: none;
	margin: auto;
}

div#buttons-layer li{
	float: left;
	width: 190px;
	margin-left:2px;
}

ul#buttons-ul a{
background-repeat: no-repeat;
background-position: right;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2594FB), to(#093D69), color-stop(1,#0A2F33));
background: -moz-linear-gradient(top, #2594FB, #093D69);
-moz-box-shadow: 0px 4px 12px #AAA;
-webkit-box-shadow: 0px 4px 12px #AAA;
box-shadow: 0px 4px 12px #AAA;

padding-right: 20px;
padding-left: 20px;
text-align: left;
display: block;
line-height: 80px;
text-decoration: none;
font-size: 21px;
color: #ebe8e8;
text-shadow: black 0.1em 0.1em 0.2em;
}

span{
	position: relative;
	top: 18px;
	left:-8px;
}

#main-content{
	overflow: hidden;
	background-color: #c4c4c4;
	padding: 10px 10px;
	
}

#left-content{
	float: left;
	width: 268px;
	margin-right: 10px;
}

.left-block{
	padding: 10px 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#dfe0e1));
background: -moz-linear-gradient(top, #efefef, #dfe0e1);
-moz-box-shadow: 0px 5px 30px #555;
-webkit-box-shadow: 0px 5px 30px #555;
}

#center-content{
	float: right;
	width: 660px;
	background-color: #eeeeee;
	-moz-box-shadow: 0px 5px 30px #555;
-webkit-box-shadow: 0px 5px 30px #555;
}

#center-content form{
	padding: 10px 10px;
}

form ul{
	list-style-type: none;
}


/*
.footer, .push {
	height: 142px;
}
.push{
	background-color: #000;
}*/




