<!DOCTYPE html>
<html>
    <head>
        <title>Quinielaca.com - La Quiniela de la Copa America -</title>	
        <meta name="google-site-verification" content="702uUYwfHiF0NdlZ8ndl-ypFfG-orrTbp9zcL8GsFP4" />
        
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta http-equiv="content-script-type" content="text/javascript">
		<meta name="author" content="Quinielaca.com" />
		<meta name="description" content="La Quiniela de la Copa America. Crea tus propias quinielas y participa para ganar el gran pote." />
		<meta name="keywords" content="www.quinielaca.com, quiniela, quiniela copa america, copa america, copa america 2011" />
		<meta name="robots" content="ALL" />
		
		<meta property="og:title" content="Quinielaca.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.quinielaca.com" />
		<meta property="og:image" content="" />
		<meta property="og:site_name" content="quinielaca.com" />
		<meta property="fb:app_id" content="176955699024734" />
		<meta property="og:description" content="Quinielaca.com te permite crear quinielas y participar para ganar el gran pote al clasificar en los tres primeros lugares. Podr&aacute;s crear grupos con tus amigos para compartir tus resultados. "/>
        
        <link rel="stylesheet" type="text/css" href="/sitemedia/css/base.css" media="screen" />	

		{% block headers %}
		{% endblock %}
    </head>

    {% block openbody %}
    {% endblock %}

	<div id="top">
      <div id="top-area">
          <div id="logo"></div>
          <div id="pote">
            <div id="logo"></div>
            <p id="pote-ammount">4000,00 Bs.F</p>
            <p id="pote-slogan">El pote sigue aumentando cada dia</p>
          </div> 

		{% block login %}          
        {% endblock %}
        
    	</div>
	</div>
    <div class = "wrapper">
      
      <div id="content-body">
      {% block buttons %}
        <div id="buttons-layer">
          <ul id="buttons-ul">
            <li class="not-selected"><a href="/list/football-pools/view"><span>Quinielas</span></a><li>
            <li class="not-selected"><a href="/list/groups/view"><span>Grupos</span></a><li>
            <li class="not-selected"><a href="/rules"><span>Reglas</span></a><li>
            <li class="not-selected"><a href="#"><span>Mi Perfil</span></a><li>
            <li class="not-selected"><a href="#"><span>Copa Am&eacute;rica</span></a><li>          
          </ul>
        </div>
      {% endblock %}
        
        <div id="main-content">
          <div id="left-content">
            <div class="left-block">
           		{% block left_content %}
                {% endblock %}
            </div>
          </div>

          <div id="center-content">
          	{% block content_submenu %}
            {% endblock %}

            <div id="center-block-content">        
	        	{% block content_title %}
                {% endblock %}

				{% block content_description %}
           		{% endblock %}
				
				<div id="block-info">
              		{% block contents %}
              		{% endblock %}
              	</div>
         	</div>
          </div>
        </div>
      </div>
      
      <!-- for sticky footer --> 
      <!--<div class="push"></div>-->
      <!-- closing wrapper--> 
    </div>

    <div class="footer">
      <p>Quinielaca.com</p>
    </div>
</body>

</html>
