<!DOCTYPE html>
<html>
    <head>
        <title>Quinielaca.com - La Quiniela de la Copa America -</title>	
        <meta name="google-site-verification" content="702uUYwfHiF0NdlZ8ndl-ypFfG-orrTbp9zcL8GsFP4" />
        
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta http-equiv="content-script-type" content="text/javascript">
		<meta name="author" content="Quinielaca.com" />
		<meta name="description" content="La Quiniela de la Copa America. Crea tus propias quinielas y participa para ganar el gran pote." />
		<meta name="keywords" content="www.quinielaca.com, quiniela, quiniela copa america, copa america, copa america 2011" />
		<meta name="robots" content="ALL" />
		
		<meta property="og:title" content="Quinielaca.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.quinielaca.com" />
		<meta property="og:image" content="" />
		<meta property="og:site_name" content="quinielaca.com" />
		<meta property="fb:app_id" content="176955699024734" />
		<meta property="og:description" content="Quinielaca.com te permite crear quinielas y participar para ganar el gran pote al clasificar en los tres primeros lugares. Podr&aacute;s crear grupos con tus amigos para compartir tus resultados. "/>
        
		{% block headers %}
		{% endblock %}
    </head>
    {% block openbody %}
    {% endblock %}

	<div id="top">
		{% block login %}
	        <div id="login-div" class="login-not">
	            <div id="buttons-area">
	                <ul id="login-buttons" class="show-login-buttons">
	                    <li><a href="#iniciarsesion"> Iniciar Sesi&oacute;n </a></li>
	                    <li><a href="#registrarse"> Registrarse </a></li>
	                </ul>
	            </div> 
	        </div>


	            <!-- 
		    <div id="login-div" class="login-yes">
		        <div id="login-info">
				<p> Hola, Maria G<p>
				<ul id="login-buttons" class="show-user-login">
					<li><a href="#verperfil> Ver perfil </a></li>
					<li><a href="#cerrarsesion> Cerrar sesi&oacute;n </a></li>
				</ul>
		        </div> 
		    </div>	
		-->

		{% endblock %}
                
		<div id="logo"></div>
        <div id="pote"></div>
	
	</div>
    <div class = "wrapper">

        <div id="content-body">
            <div id="buttons-layer">
                <ul>
                    <li>Quinielas<li>
                    <li>Grupos<li>
                    <li>Reglas<li>
                    <li>Mi Perfil<li>
                    <li>Copa Am&eacute;rica<li>
                </ul>
            </div>
            <div id="main-content">
                <div id="left-content">
                    <div class="left-block"></div>
                </div>
                <div id="center-content">
                    {% block content_submenu %}{% endblock %}
                    <h4>
                        {% block content_title %}{% endblock %}
                    </h4>
                    <p id="content-description">{% block content_description %}{% endblock %}</p>
                    {% block contents %}{% endblock %}
                </div>
            </div>
        </div>


            <!-- for sticky footer -->
            <div id="push"></div>
            <!-- closing wrapper-->
        </div>
        <div class="footer">
            <p>Quinielaca.com</p>
        </div>
    </body>

</html>