{% extends 'base.html' %}

{% block openbody %}<body>{% endblock %}
{% block contents %}

		<form action="/create/group" method="post">
			<input name="search" type="text" id="search" value="" />
			<input type="submit" name="search_user" value="Buscar">
			<br>
			
			<ul>
		    	{% for user in searched_users %}
		    		<li>
		    			<label>{{ user.0 }}</label> 
		    			<a href="/add/group?user={{ user.1 }}&last_search={{ last_search }}&last_members={{ last_members }}&name={{ name }}">Agregar</a>
		    		</li>
		    	{% endfor %}
		    </ul>
		    
		    <input name="last-search" type="hidden" value="{{ last_search }}">
			
			<label for="name">Nombre: </label>
		    <input name="name" type="text" id="name" value="{{ name }}" />
		    <br>
		    
		    <ul>
		    	{% for member in members %}
		    		<li>
		    			<label name="">{{ member.0 }}</label> 
		    			<a href="/delete/group?user={{ member.1 }}&last_search={{ last_search }}&last_members={{ last_members }}&name={{ name }}">Eliminar</a>
		    		</li>
		    	{% endfor %}
		    </ul>
		    
		    <input name="last-members" type="hidden" value="{{ last_members }}">
		    
		    <input type="submit" name="save" value="Guardar">
		</form>

{% endblock %}