{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
loadHiddenLeft();	
})
</script>
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="not-selected"><a href="/list/groups/view"><span>Mis Grupos</span></a></li>
  <li class="selected"><a href="/create/group"><span>Crear Grupo</span></a></li>
  <li class="not-selected"><a href="/list/groups/ranking"><span>Ver Ranking</span></a></li>
</ul>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Busca a tus amigos e inv&iacute;talos a formar parte de tu grupo
</p>
{% endblock %}

{% block contents %}
<form action="/create/group" method="post" class="other-form">
  
  <label for="name" class="title-label">Nombre del Grupo: </label>
  <input name="name" type="text" id="name" value="{{ name }}" class="title-field"/>
  <br>

  <input type="submit" name="search_user" value="Buscar Amigo">
  <input name="search" type="text" id="search" value="" class="title-field" />

  <br>
  
  <ul>
	{% for user in searched_users %}
	<li>
	  <label>{{ user.0 }}</label> 
	  <a href="/add/group?user={{ user.1 }}&last_search={{ last_search }}&last_members={{ last_members }}&name={{ name }}">Agregar</a>
	</li>
	{% endfor %}
  </ul>
  
  <input name="last-search" type="hidden" value="{{ last_search }}">
 
  
  <ul>
	{% for member in members %}
	<li>
	  <label name="">{{ member.0 }}</label> 
	  <a href="/delete/group?user={{ member.1 }}&last_search={{ last_search }}&last_members={{ last_members }}&name={{ name }}">Eliminar</a>
	</li>
	{% endfor %}
  </ul>
  
  <input name="last-members" type="hidden" value="{{ last_members }}">
  
  <input type="submit" name="save" value="Guardar">
</form>

{% endblock %}
