{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>
<script type="text/javascript" src="/sitemedia/js/quinHandler.js"></script>	

<script type="text/javascript"> 
$(document).ready(function(){
loadFinalRoundEvents();loadHiddenLeft();	
})
</script>	
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="selected"><a href="#"><span>Mis Quinielas</span></a></li>
  <li class="not-selected"><a href="#"><span>Crear Quiniela</span></a></li>
  <li class="not-selected"><a href="#"><span>Pagar Quiniela</span></a></li>
</ul>
{% endblock %}

{% block content_title %}
<h4 id="title">Segunda Etapa</h4>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Ingresa tu pron&oacute;tico para cada partido de los cuartos de final, semifinal, tercero y cuarto y final.
</p>
{% endblock %}

{% block contents %}
<form action="/save/edit" method="post" id="create-step2" class="quiniela-form">
  
  <ul class="group-matches">
    <h5 class="group-title">Cuartos de Final</h5>
	{% for teams in quarter_finals_matches %}
	<li class="group-match" id="qf{{ teams.4 }}">
	  <label class="e1-qf" for="{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1">{{ teams.0 }}</label> 
	  <input id="{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1" name="{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1" class="goals-field" type="text" value="{{ teams.1 }}" />
      <p class="quin-sep">-</p>
	  <input id="{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2" name="{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2" class="goals-field" type="text" value="{{ teams.2 }}" /> 
	  <label class="e2-qf" for="{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2">{{ teams.3 }}</label>
	</li>
	{% endfor %}
  </ul>
  
  <h5 class="group-title">Semi Final</h5>
  <ul class="group-matches">
	{% for teams in semi_final_matches %}
	<li class="group-match" id="sf{{ teams.4 }}">
	  <label class="e1" for="sf{{ teams.4 }}-g1">{{ teams.0 }}</label> 
	  <input id="sf{{ teams.4 }}-g1" name="sf{{ teams.4 }}-g1" class="goals-field" type="text" value="{{ teams.1 }}" /> 
	  <input id="sf{{ teams.4 }}-g2" name="sf{{ teams.4 }}-g2" class="goals-field" type="text" value="{{ teams.2 }}" /> 
	  <label class="e2" for="sf{{ teams.4 }}-g2">{{ teams.3 }}</label>
	</li>
	{% endfor %}
  </ul>
  
  <h5 class="group-title">Tercero y Cuarto</h5>
  <ul class="group-matches">
	<li class="group-match" id="tf">
	  <label class="e1" for="tf-g1">{{ third_fourth_match.0 }}</label> 
	  <input name="tf-g1" class="goals-field" type="text" value="{{ third_fourth_match.1 }}" />
      <p class="quin-sep">-</p>
	  <input name="tf-g2" class="goals-field" type="text" value="{{ third_fourth_match.2 }}" /> 
	  <label class="e2" for="tf-g2">{{ third_fourth_match.3 }}</label>
	</li>
  </ul>
  
  <h5 class="group-title">Final</h5>
  <ul class="group-matches">
	<li class="group-match" id="f">
	  <label class="e1" for="f-g1">{{ final_match.0 }}</label> 
	  <input name="f-g1" class="goals-field" type="text" value="{{ final_match.1 }}" /> 
      <p class="quin-sep">-</p>
	  <input name="f-g2" class="goals-field" type="text" value="{{ final_match.2 }}" /> 
	  <label class="e2" for="f-g2">{{ final_match.3 }}</label>
	</li>
  </ul>
  
  <button type="submit" name="step2">Guardar</button>
  
  <div id="submit-notice" class="notice">
  </div>
  
  <input name="football-pool-key" type="hidden" value="{{ football_pool_key }}" />
  <input name="first-round-matches" type="hidden" value="{{ first_round_matches }}" />
  <input name="second-round-matches" type="hidden" value="" />
</form>
{% endblock %}
