<!DOCTYPE html>
<html>
    <head>
        <title>Quinielaca.com - La Quiniela de la Copa America -</title>	
        <meta name="google-site-verification" content="702uUYwfHiF0NdlZ8ndl-ypFfG-orrTbp9zcL8GsFP4" />
        
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<meta http-equiv="content-script-type" content="text/javascript">
		<meta name="author" content="Quinielaca.com" />
		<meta name="description" content="La Quiniela de la Copa America. Crea tus propias quinielas y participa para ganar el gran pote." />
		<meta name="keywords" content="www.quinielaca.com, quiniela, quiniela copa america, copa america, copa america 2011" />
		<meta name="robots" content="ALL" />
		
		<meta property="og:title" content="Quinielaca.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.quinielaca.com" />
		<meta property="og:image" content="" />
		<meta property="og:site_name" content="quinielaca.com" />
		<meta property="fb:app_id" content="176955699024734" />
		<meta property="og:description" content="Quinielaca.com te permite crear quinielas y participar para ganar el gran pote al clasificar en los tres primeros lugares. Podr&aacute;s crear grupos con tus amigos para compartir tus resultados. "/>
        
		<script type="text/javascript" src="/sitemedia/js/loadHidden.js"></script>
        <link rel="stylesheet" type="text/css" href="/sitemedia/css/base.css" media="screen" />	

		{% block headers %}
		{% endblock %}
    </head>

    {% block openbody %}
    {% endblock %}

	<div id="top">
      <div id="top-area">
          <div id="logo"></div>
          <div id="pote">
            <div id="logo"></div>
            <p id="pote-ammount">4000,00 Bs.F</p>
            <p id="pote-slogan">El pote sigue aumentando cada dia</p>
          </div> 

		{% block login %}
			{% if session_status %}
				<div id="login-div" class="login-yes">
					<div id="login-info">
		            	<div id="greetings">
		            		<p>
		            			{% ifequal user.type 0 %}
									{% if user.google_user %}
										Hola, {{ user.google_user.nickname }}
									{% endif %}	
								{% endifequal %}
						
								{% ifequal user.type 1 %}
									{% if user.facebook_user %}
										Hola, {{ user.facebook_user.name }}
									{% endif %}	
								{% endifequal %}
						
								{% ifequal user.type 2 %}
									{% if user.native_user %}
										Hola, {{ user.native_user.name }}
									{% endif %}	
								{% endifequal %}
		            		</p>
		            	</div>
		
		                <ul id="login-buttons" class="show-user-login">
							<li><a href="/logout"> Cerrar sesi&oacute;n </a></li>
						</ul>
				    </div> 
				</div>
			{% else %}
				<div id="login-div" class="login-not"> 
			    	<div id="buttons-area"> 
			        	<ul id="login-buttons" class="show-login-buttons"> 
			            	<li><a href="/login"> Iniciar Sesi&oacute;n </a></li> 
			            	<li><a href="/register"> Registrarse </a></li> 
			          	</ul> 
			      	</div> 
				</div>
			{% endif %}
		{% endblock %}
        
    	</div>
	</div>
  
	<div class="emma-wrapper">
		<div id="emma-buttons">
			<ul id="first-line">
				<li id="quinielas"><a href="list/football-pools/view"></a></li>
				<li id="grupos"><a href="#"></a></li>
				<li id="reglas"><a href="#"></a></li>
			</ul>
			<ul id="second-line">
				<li id="elpote"><a href="#"></a></li>
				<li id="copaamerica"><a href="#"></a></li>
				<li id="comparte"><a href="#"></a></li>				
			</ul>
		</div>
		
	</div>

    <div class="footer">
      <p>Quinielaca.com</p>
    </div>
</body>

</html>