{% extends 'base.html' %}

{% block openbody %}<body>{% endblock %}
{% block contents %}
		<a href='/logout'>Logout</a>
	    <br>
	    
		{% ifequal user.type 0 %}
			{% if user.google_user %}
				Hola {{ user.google_user.nickname }}
			{% endif %}	
		{% endifequal %}
		
		{% ifequal user.type 1 %}
			{% if user.facebook_user %}
				Hola {{ user.facebook_user.name }}
			{% endif %}	
		{% endifequal %}
		
		{% ifequal user.type 2 %}
			{% if user.native_user %}
				Hola {{ user.native_user.name }}
			{% endif %}	
		{% endifequal %}
		<br>
		
		<ul>
			<li>
				<a href='/create/step1'>Crear quiniela</a>
			</li>
			
			<li>
				<a href='/list'>Ver quinielas</a>
			</li>
			
			<li>
				<a href='/list/groups'>Ver grupos</a>
			</li>
		</ul>
		
		<ul>
			{% for membership_request in pending_membership_requests %}
				<li>
					<lable>{{ membership_request.0 }}</label> 
					<lable>{{ membership_request.1 }}</label>
					<a href="/accept/membership?request={{ membership_request.2 }}">Aceptar</a> 
					<a href="/reject/membership?request={{ membership_request.2 }}">Rechazar</a>
				</li>
			{% endfor %}
		</ul>
{% endblock %}