<html>
  <body>
    <a href='/logout'>Logout</a><br>
	
	{% ifequal user.type 0 %}
		{% if user.google_user %}
			Hola {{ user.google_user.nickname }}
		{% endif %}	
	{% endifequal %}
	
	{% ifequal user.type 1 %}
		{% if user.facebook_user %}
			Hola {{ user.facebook_user.name }}
		{% endif %}	
	{% endifequal %}
	
	{% ifequal user.type 2 %}
		{% if user.native_user %}
			Hola {{ user.native_user.name }}
		{% endif %}	
	{% endifequal %}
	
	<a href='/create/step1'>Crear quiniela</a><br>
	    	
  </body>
</html>
