{% extends 'base.html' %}

{% block openbody %}
<body>
{% endblock %}

{% block buttons %}
	{% if session_status %}
		<div id="buttons-layer">
	    	<ul id="buttons-ul">
	        	<li class="not-selected"><a href="/list/football-pools/view"><span>Quinielas</span></a><li>
	        	<li class="not-selected"><a href="/list/groups/view"><span>Grupos</span></a><li>
	        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a><li>
	        	<li class="not-selected"><a href="/view/profile"><span>Mi Perfil</span></a><li>
	        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a><li>          
	      	</ul>
	    </div>
	{% else %}
		<div id="buttons-layer">
	    	<ul id="buttons-ul">
	        	<li class="not-selected"><a href="#"><span>Quinielas</span></a><li>
	        	<li class="not-selected"><a href="#"><span>Grupos</span></a><li>
	        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a><li>
	        	<li class="not-selected"><a href="#"><span>Mi Perfil</span></a><li>
	        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a><li>          
	      	</ul>
	    </div>
	{% endif %}
{% endblock %}

{% block contents %}
	PAGINA DE INICIO ESTILO EMMA
{% endblock %}