{% extends 'base.html' %}

{% block openbody %}<body>{% endblock %}
{% block contents %}
	
		<ul>
			{% for membership_request in pending_membership_requests %}
				<li>
					<lable>{{ membership_request.0 }}</label> 
					<lable>{{ membership_request.1 }}</label>
					<a href="/accept/membership?request={{ membership_request.2 }}">Aceptar</a> 
					<a href="/reject/membership?request={{ membership_request.2 }}">Rechazar</a>
				</li>
			{% endfor %}
		</ul>
	
		<a href='/create/group'>Crear grupo</a>
		<br>
	
		<form action="/view/group" method="post">
		
			<select name="selected_competition_group">
				<option value="default" selected="selected">Selecciona un grupo</option>
				{% for group in groups %}
					<option value="{{ group.key }}">{{ group.name }}</option>
				{% endfor %}
			</select>
			
			<input type="submit" name="edit" value="Editar">
			<input type="submit" name="ranking" value="Ver ranking">
		</form>
	
{% endblock %}