{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="selected"><a href="/list/groups/view"><span>Mis Grupos</span></a></li>
  <li class="not-selected"><a href="/create/group"><span>Crear Grupo</span></a></li>
  <li class="not-selected"><a href="/list/groups/ranking"><span>Ver Ranking</span></a></li>
</ul>
{% endblock %}

{% block content_description %}
<p id="content-description">
	Puedes editar tus grupos cuando quieras, invitar a nuevos amigos y seguir el puntaje de sus quinielas.
	<br>
	<br>

  Selecciona el grupo que deseas editar
</p>
{% endblock %}

{% block contents %}
	
		<ul>
			{% for membership_request in pending_membership_requests %}
				<li>
					<lable>{{ membership_request.0 }}</label> 
					<lable>{{ membership_request.1 }}</label>
					<a href="/accept/membership?request={{ membership_request.2 }}">Aceptar</a> 
					<a href="/reject/membership?request={{ membership_request.2 }}">Rechazar</a>
				</li>
			{% endfor %}
		</ul>
	
		<form action="/view/group" method="post">
		
			<select name="selected_competition_group">
				<option value="default" selected="selected">Selecciona un grupo</option>
				{% for group in groups %}
					<option value="{{ group.key }}">{{ group.name }}</option>
				{% endfor %}
			</select>
			
			<button class="list-button" type="submit" name="edit" value="Editar">Editar</button>
		</form>
	
{% endblock %}