{% extends 'base.html' %}

{% block openbody %}
<body>
{% endblock %}

{% block left_content %}
<div id="left-block-title">
  <h3>Goleadores del Torneo</h3>
</div>

<div id="left-block-content">
  <table>
	<tr>
	  <th>Nombre</th>
	  <th>Pa&iacute;s</th>
	  <th>Goles</th>
	</tr>
	
	{% for scorer in top_scorers %}
	<tr class={{ scorer.3 }}>
	  <td>{{ scorer.0 }}</td>
	  <td>{{ scorer.1 }}</td>
	  <td>{{ scorer.2 }}</td>
	</tr>
	{% endfor %}
	
  </table>
</div>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="selected"><a href="/list/football-pools/view"><span>Mis Quinielas</span></a></li>
  <li class="not-selected"><a href="/create/step1"><span>Crear Quiniela</span></a></li>
  <li class="not-selected"><a href="/list/football-pools/pay"><span>Pagar Quiniela</span></a></li>
</ul>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Selecciona la quiniela que deseas ver
</p>
{% endblock %}

{% block contents %}
	
		{{ message }}
		
		<form action="/view" method="post">
		
			<select name="selected_football_pool">
				<option value="default" selected="selected">Selecciona una quiniela</option>
				{% for football_pool in football_pools %}
					<option value="{{ football_pool.key }}">{{ football_pool.name }}</option>
				{% endfor %}
			</select>
			
			<input type="submit" name="pay" value="Pagar">
		</form>

{% endblock %}