{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}


{% block layer-buttons %}
{% if session_status %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="selected"><a href="/list/football-pools/view"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/create/group"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/view/profile"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% else %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="not-selected"><a href="/login"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% endif %}
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="selected"><a href="/list/football-pools/view"><span>Mis Quinielas</span></a></li>
  <li class="not-selected"><a href="#"><span>Crear Quiniela</span></a></li>
  <li class="not-selected"><a href="/list/football-pools/pay"><span>Pagar Quiniela</span></a></li>
</ul>
{% endblock %}

{% block content_description %}
<p id="content-description">
	Tienes oportunidad hasta antes del 1 de Julio de 2011 de editar tus quinielas todas las veces que quieras, incluso una vez pagada.
</p>
<br>

<p id="content-description">
	Selecciona la quiniela que deseas ver o editar.
</p>
{% endblock %}

{% block contents %}
		<form action="/view/football-pool" method="post">
		
			<select name="selected_football_pool">
				<option value="default" selected="selected">Selecciona una quiniela</option>
				{% for football_pool in football_pools %}
					<option value="{{ football_pool.key }}">{{ football_pool.name }}</option>
				{% endfor %}
			</select>
			
			<button class="list-button" type="submit" name="view" value="Ver">Ver</button>
			<!--<button class="list-button" type="submit" name="edit" value="Editar">Editar</button>-->
			
			<div id="submit-notice" class="notice">
				{{ message }}
  			</div>
		</form>

{% endblock %}