{% extends 'base.html' %}

{% block openbody %}
<body>
{% endblock %}

{% block left_content %}
<div id="left-block-title">
  <h3>Goleadores del Torneo</h3>
</div>

<div id="left-block-content">
  <table>
	<tr>
	  <th>Nombre</th>
	  <th>Pa&iacute;s</th>
	  <th>Goles</th>
	</tr>
	
	{% for scorer in top_scorers %}
	<tr class={{ scorer.3 }}>
	  <td>{{ scorer.0 }}</td>
	  <td>{{ scorer.1 }}</td>
	  <td>{{ scorer.2 }}</td>
	</tr>
	{% endfor %}
	
  </table>
</div>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="selected"><a href="/list/groups"><span>Mis Grupos</span></a></li>
  <li class="not-selected"><a href="/create/group"><span>Crear Grupo</span></a></li>
  <li class="not-selected"><a href="#"><span>Ver Ranking</span></a></li>
</ul>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Busca a tus amigos e inv&iacute;talos a formar parte de tu grupo
</p>
{% endblock %}

{% block contents %}
	
		<ul>
			{% for membership_request in pending_membership_requests %}
				<li>
					<lable>{{ membership_request.0 }}</label> 
					<lable>{{ membership_request.1 }}</label>
					<a href="/accept/membership?request={{ membership_request.2 }}">Aceptar</a> 
					<a href="/reject/membership?request={{ membership_request.2 }}">Rechazar</a>
				</li>
			{% endfor %}
		</ul>
	
		<a href='/create/group'>Crear grupo</a>
		<br>
	
		<form action="/view/group" method="post">
		
			<select name="selected_competition_group">
				<option value="default" selected="selected">Selecciona un grupo</option>
				{% for group in groups %}
					<option value="{{ group.key }}">{{ group.name }}</option>
				{% endfor %}
			</select>
			
			<input type="submit" name="edit" value="Editar">
			<input type="submit" name="ranking" value="Ver ranking">
		</form>
	
{% endblock %}