{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_title %}
<h4 id="title">Inicio de Sesi&oacute;n</h4>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Ingresa tus datos de usuario para entrar al sistema y comenzar a participar.<br/>
Si no te has registrado todavía te invitamos a hacerlo <a href="/register">aquí</a>.
</p>
{% endblock %}

{% block contents %}
	<form action="/home" method="post" class="other-form">
		<label for="email_id">Correo: </label>
	    <input class="email-login" name="email" type="text" id="email_id" value="" />
	    <br>
	
	    <label for="password_id">Clave: </label>
	    <input name="password" type="password" id="password_id" value="" />
	    <br>
	
	    <button id="accept-login" type="submit" name="accept" value="Aceptar">Aceptar</button>
	    <br>
	
		<div id="submit-notice" class="notice">
			{{ error }}
  		</div>
  		
  		Tambi&eacute;n puedes iniciar sesi&oacute;n con
	
	    <ul id="other-login-buttons">
	    	<li><button class="list-button" type="submit" name="google" value="Google">Google</button></li>
	        <li><button class="list-button" type="submit" name="facebook" value="Facebook">Facebook</button></li>
	    </ul>
	    
	    <a href="#">Recuperar clave</a>
	</form>
	
{% endblock %}
