{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>
<script type="text/javascript" src="/sitemedia/js/loadHidden.js"></script>


<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();})
</script>
{% endblock %}


{% block layer-buttons %}
{% if session_status %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="selected"><a href="/list/football-pools/view"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/create/group"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/view/profile"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% else %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="not-selected"><a href="/login"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% endif %}
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="not-selected"><a href="/list/football-pools/view"><span>Mis Quinielas</span></a></li>
  <li class="not-selected"><a href="/create/step1"><span>Crear Quiniela</span></a></li>
  <li class="selected"><a href="/list/football-pools/pay"><span>Pagar Quiniela</span></a></li>
</ul>
{% endblock %}

{% block content_title %}
<h4 id="title">Informaci&oacute;n de Pago</h4>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Cada quiniela tiene un costo de BsF. 100,00. Puedes pagar tus quinielas a trav&eacute;s de un dep&oacute;sito o transferencia a alguna de las siguientes cuentas:
</p>
{% endblock %}

{% block contents %}
<table id="table-payment-info">
  <tr>
	<th>Banco</th>
	<th>Cuenta</th>
	<th>Tipo</th>
  </tr>
  
  <tr>
	<td>Banco Mercantil</td>
	<td>0105-0731-680731-02789-2</td>
	<td>Ahorros</td>
  </tr>
  
  <tr>
	<td>Banco Provincial</td>
	<td>0108-0503-10-0100080707</td>
	<td>Corriente</td>
  </tr>
  
  <tr>
	<td>Banesco</td>
	<td>0134-0040-72-0402020601</td>
	<td>Ahorros</td>
  </tr>
</table>

<p id="content-description">
  Todas las cuentas est&aacute;n a nombre de <label class="payment_info">Mar&iacute;a Gabriela Vald&eacute;s</label>, c&eacute;dula: <label class="payment_info">V-18.358.292<label> y correo electr&oacute;nico: <label class="payment_info">mgvaldesgraterol@gmail.com<label>
</p>

<form action="/pay" method="post" id="pay-form" class="other-form">

<div id="payment-option">
  <input type="radio" name="payment_type" value="deposit" /> 
  <label for="payment-type">Dep&oacute;sito</label>
  <input type="radio" name="payment_type" value="transfer" checked="checked" /> 	   <label for="payment-type">Transferencia</label>
</div>
<label for="payment_number" id="payment-number">N&uacute;mero Dep&oacute;sito/Transferencia</label>
  <input name="payment_number" type="text" id="payment_number" value="" /> <br/>
  
  <label class="title-field" for="bank">Banco: </label>
  <select name="bank">
	<option value="mercantil">Banco Mercantil</option>
	<option value="provincial">Banco Provincial</option>
	<option value="banesco">Banesco</option>
  </select>
  <br/>
  
  <p>Si entraste en p&aacute;gina por la recomendaci&oacute;n de un amigo, b&uacute;scalo aqu&iacute;: </p>
  <input name="search" type="text" id="search" value="" class="title-field" />
  <button id="create-group-button" class="list-button" type="submit" name="search_user" value="Buscar">Buscar</button>
  
  <ul>
	{% for user in searched_users %}
	<li>
	  <input type="radio" id="pay-radio" name="user_key" value={{ user.1 }} /><label id="pay-radio-label">{{ user.0 }}</label>
	</li>
	{% endfor %}
  </ul>
  
  <button id="pay-button" type="submit" name="register_payment">Registrar</button>

  <div id="submit-notice" class="notice">
  </div>
  
  <input name="selected_football_pool_key" type="hidden" value="{{ selected_football_pool_key }}" />
</form>

{% endblock %}

