{% extends 'base.html' %}

{% block openbody %}
<body>
{% endblock %}

{% block left_content %}
<div class="left-block-title">
  <h3>Goleadores del Torneo</h3>
</div>

<div class="left-block-content">
  <table>
	<tr>
	  <th>Nombre</th>
	  <th>Pa&iacute;s</th>
	  <th>Goles</th>
	</tr>
	
	{% for scorer in top_scorers %}
	<tr class={{ scorer.3 }}>
	  <td>{{ scorer.0 }}</td>
	  <td>{{ scorer.1 }}</td>
	  <td>{{ scorer.2 }}</td>
	</tr>
	{% endfor %}
	
  </table>
</div>

<div class="left-block-title">
  <h3>Clasificaci&oacute;n</h3>
</div>

<div class="left-block-content">
  <table>
	<tr>
	  <th>Usuario</th>
	  <th>Quiniela</th>
	  <th>Puntos</th>
	</tr>
	
	{% for user in top_users %}
	<tr class={{ user.3 }}>
	  <td>{{ user.0 }}</td>
	  <td>{{ user.1 }}</td>
	  <td>{{ user.2 }}</td>
	</tr>
	{% endfor %}
	
  </table>
</div>

<div class="left-block-title">
  <h3>Comparte en Facebook</h3>
</div>

<div class="left-block-content">
	<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FQuinielaca%2F182059218514094&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=327" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:245px; height:327px;" allowTransparency="false"></iframe>
</div>

<div class="left-block-title">
  <h3>Comparte en Twitter</h3>
</div>

<div class="left-block-content">
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="@Quinielaca te permite crear quinielas y participar para ganar el gran pote al clasificar en los tres primeros lugares. Crea grupos con tus amigos y comparte tus resultados" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<a href="http://twitter.com/Quinielaca" class="twitter-follow-button" data-show-count="false">Follow @Quinielaca</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>	
</div>
{% endblock %}

{% block login %}
	{% if session_status %}
		<div id="login-div" class="login-yes">
			<div id="login-info">
            	<div id="greetings">
            		<p>
            			{% ifequal user.type 0 %}
							{% if user.google_user %}
								Hola, {{ user.google_user.nickname }}
							{% endif %}	
						{% endifequal %}
				
						{% ifequal user.type 1 %}
							{% if user.facebook_user %}
								Hola, {{ user.facebook_user.name }}
							{% endif %}	
						{% endifequal %}
				
						{% ifequal user.type 2 %}
							{% if user.native_user %}
								Hola, {{ user.native_user.name }}
							{% endif %}	
						{% endifequal %}
            		</p>
            	</div>

                <ul id="login-buttons" class="show-user-login">
					<li><a href="/logout"> Cerrar sesi&oacute;n </a></li>
				</ul>
		    </div> 
		</div>
	{% else %}
		<div id="login-div" class="login-not"> 
	    	<div id="buttons-area"> 
	        	<ul id="login-buttons" class="show-login-buttons"> 
	            	<li><a href="/login"> Iniciar Sesi&oacute;n </a></li> 
	            	<li><a href="/register"> Registrarse </a></li> 
	          	</ul> 
	      	</div> 
		</div>
	{% endif %}
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="not-selected"><a href="#"><span>Mis Quinielas</span></a></li>
  <li class="not-selected"><a href="#"><span>Crear Quiniela</span></a></li>
  <li class="selected"><a href="#"><span>Pagar Quiniela</span></a></li>
</ul>
{% endblock %}

{% block content_title %}
<h4 id="title">Informaci&oacute;n de Pago</h4>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Cada quiniela tiene un costo de BsF. 100,00. Puedes pagar tus quinielas a trav&eacute;s de un dep&oacute;sito o transferencia a alguna de las siguientes cuentas:
</p>
{% endblock %}

{% block contents %}
<table id="table-payment-info">
  <tr>
	<th>Banco</th>
	<th>Cuenta</th>
	<th>Tipo</th>
  </tr>
  
  <tr>
	<td>Banco Mercantil</td>
	<td>00000000000000000000</td>
	<td>Ahorros</td>
  </tr>
  
  <tr>
	<td>Banco Provincial</td>
	<td>00000000000000000000</td>
	<td>Corriente</td>
  </tr>
  
  <tr>
	<td>Banesco</td>
	<td>00000000000000000000</td>
	<td>Ahorros</td>
  </tr>
</table>

<p id="content-description">
  Todas las cuentas est&aacute;n a nombre de <label class="payment_info">Mar&iacute;a Gabriela Vald&eacute;s</label>, c&eacute;dula: <label class="payment_info">V-18.358.292<label> y correo electr&oacute;nico: <label class="payment_info">mgvaldesgraterol@gmail.com<label>
</p>

<form action="/pay" method="post" class="quiniela-form">
  <label class="title-field">Tipo: </label>
  
  <input type="radio" name="payment_type" value="deposit" /> Deposito No. 
  <input type="radio" name="payment_type" value="transfer" checked="checked" /> Transferencia No.
  <br> 
  
  <input name="payment_number" type="text" id="payment_number" value="" />
  <br>
  
  <label class="title-field" for="bank">Banco: </label>
  <select name="bank">
	<option value="mercantil">Banco Mercantil</option>
	<option value="provincial">Banco Provincial</option>
	<option value="banesco">Banesco</option>
  </select>
  <br>
  
  <button type="submit" name="register_payment">Registrar</button>

  <div id="submit-notice" class="notice">
  </div>
  
  <input name="selected_football_pool_key" type="hidden" value="{{ selected_football_pool_key }}" />
</form>

{% endblock %}

