{% extends 'base.html' %}

{% block contents %}
	<body>
	
		<h3>{{ competition_group_name }}</h3>
	
		<table id="table-global-ranking" class="ranking-table">
		  	<tr>
		  		<th>Nombre</th>
		  		<th>Quiniela</th>
		  		<th>Puntos</th>
		  	</tr>
		  		
			{% for rank in group_ranking %}
				<tr>
					{% if rank.3 %}
						<td class="active-user"><h4>{{ rank.0 }}</h4></td>
						<td class="active-user"><h4>{{ rank.1 }}</h4></td>
			  			<td class="active-user"><h4>{{ rank.2 }}</h4></td>
			  		{% else %}
			  			<td class="regular-user">{{ rank.0 }}</td>
			  			<td class="regular-user">{{ rank.1 }}</td>
			  			<td class="regular-user">{{ rank.2 }}</td>
					{% endif %}
			  	</tr>
			{% endfor %}
		</table>
		
	</body>
{% endblock %}
</html>