{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}


{% block layer-buttons %}
{% if session_status %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="selected"><a href="/list/football-pools/view"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/create/group"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/view/profile"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% else %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="not-selected"><a href="/login"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% endif %}
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="not-selected"><a href="/list/groups/view"><span>Mis Grupos</span></a></li>
  <li class="not-selected"><a href="/create/group"><span>Crear Grupo</span></a></li>
  <li class="selected"><a href="/list/groups/ranking"><span>Ver Ranking</span></a></li>
</ul>
{% endblock %}

{% block content_title %}
<h4 id="title">{{ competition_group_name }}</h4>
{% endblock %}

{% block content_description %}
<p id="content-description">
	Revisa el puntaje de tus quinielas y compara tu ranking con el de tus amigos
</p>
{% endblock %}

{% block contents %}
<table id="table-global-ranking" class="ranking-table">
  <tr>
	<th>Nombre</th>
	<th>Quiniela</th>
	<th>Puntos</th>
	<th></th>
  </tr>
  
  {% for rank in group_ranking %}
  <tr>
	{% if rank.3 %}
	<td class="active-user"><h4>{{ rank.0 }}</h4></td>
	<td class="active-user"><h4>{{ rank.1 }}</h4></td>
	<td class="active-user"><h4>{{ rank.2 }}</h4></td>
	<td><a href="/view/user/football-pool?id={{ rank.4 }}">Ver Quiniela</a></td>
	{% else %}
	<td class="regular-user">{{ rank.0 }}</td>
	<td class="regular-user">{{ rank.1 }}</td>
	<td class="regular-user">{{ rank.2 }}</td>
	<td><a href="/view/user/football-pool?id={{ rank.4 }}">Ver Quiniela</a></td>
	{% endif %}
  </tr>
  {% endfor %}
</table>

<form action="/view/group/comment" method="post" id="comment-form">
	<textarea rows="1" cols="50" name="comment-text"></textarea>

	<button id="comment-button" type="submit" name="comment">Comentar</button>
	
	<input name="selected_group_key" type="hidden" value="{{ selected_group_key }}" />
</form>

<div id="comments-div">
<ul id="comments">
{% for comment in comments %}
	<li>
		<div class="comment-info">
			<p class="name">{{ comment.0 }}</p> <p class="date">{{ comment.1 }}</p>
		</div>
		<div class="comment-text">
			{{ comment.2 }}
		</div>		

	</li>
{% endfor %}
</ul>
</div>



{% endblock %}
