{% extends 'base.html' %}

{% block openbody %}
<body>
{% endblock %}

{% block left_content %}
<div id="left-block-title">
  <h3>Goleadores del Torneo</h3>
</div>

<div id="left-block-content">
  <table>
	<tr>
	  <th>Nombre</th>
	  <th>Pa&iacute;s</th>
	  <th>Goles</th>
	</tr>
	
	{% for scorer in top_scorers %}
	<tr class={{ scorer.3 }}>
	  <td>{{ scorer.0 }}</td>
	  <td>{{ scorer.1 }}</td>
	  <td>{{ scorer.2 }}</td>
	</tr>
	{% endfor %}
	
  </table>
</div>

<div id="left-block-title">
  <h3>Clasificaci&oacute;n</h3>
</div>

<div id="left-block-content">
  <table>
	<tr>
	  <th>Usuario</th>
	  <th>Quiniela</th>
	  <th>Puntos</th>
	</tr>
	
	{% for user in top_users %}
	<tr class={{ user.3 }}>
	  <td>{{ user.0 }}</td>
	  <td>{{ user.1 }}</td>
	  <td>{{ user.2 }}</td>
	</tr>
	{% endfor %}
	
  </table>
</div>

<div id="left-block-title">
  <h3>Comparte en Facebook</h3>
</div>

<div id="left-block-content">
	<iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FQuinielaca%2F182059218514094&amp;width=292&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=true&amp;header=true&amp;height=327" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:245px; height:327px;" allowTransparency="false"></iframe>
</div>

<div id="left-block-title">
  <h3>Comparte en Twitter</h3>
</div>

<div id="left-block-content">
	<a href="http://twitter.com/share" class="twitter-share-button" data-text="@Quinielaca te permite crear quinielas y participar para ganar el gran pote al clasificar en los tres primeros lugares. Crea grupos con tus amigos y comparte tus resultados" data-count="none">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	<a href="http://twitter.com/Quinielaca" class="twitter-follow-button" data-show-count="false">Follow @Quinielaca</a><script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>	
</div>
{% endblock %}

{% block content_submenu %}
<ul id="center-buttons">
  <li class="not-selected"><a href="/list/groups/view"><span>Mis Grupos</span></a></li>
  <li class="not-selected"><a href="/create/group"><span>Crear Grupo</span></a></li>
  <li class="selected"><a href="/list/groups/ranking"><span>Ver Ranking</span></a></li>
</ul>
{% endblock %}

{% block content_title %}
<h4 id="title">{{ competition_group_name }}</h4>
{% endblock %}

{% block contents %}
<table id="table-global-ranking" class="ranking-table">
  <tr>
	<th>Nombre</th>
	<th>Quiniela</th>
	<th>Puntos</th>
  </tr>
  
  {% for rank in group_ranking %}
  <tr>
	{% if rank.3 %}
	<td class="active-user"><h4>{{ rank.0 }}</h4></td>
	<td class="active-user"><h4>{{ rank.1 }}</h4></td>
	<td class="active-user"><h4>{{ rank.2 }}</h4></td>
	{% else %}
	<td class="regular-user">{{ rank.0 }}</td>
	<td class="regular-user">{{ rank.1 }}</td>
	<td class="regular-user">{{ rank.2 }}</td>
	{% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
