{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}


{% block layer-buttons %}
{% if session_status %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="not-selected"><a href="/list/football-pools/view"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/create/group"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/view/profile"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% else %}
	<div id="buttons-layer">
    	<ul id="buttons-ul">
        	<li class="not-selected"><a href="/login"><span>Quinielas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Grupos</span></a></li>
        	<li class="not-selected"><a href="/rules"><span>Reglas</span></a></li>
        	<li class="not-selected"><a href="/login"><span>Mi Perfil</span></a></li>
        	<li class="not-selected"><a href="/view/copa-america"><span>Copa Am&eacute;rica</span></a></li>          
      	</ul>
    </div>
{% endif %}
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_title %}
<h4 id="title">Registro de Usuarios</h4>
{% endblock %}

{% block content_description %}
<p id="content-description">
  Ingresa tus datos para registrarte y participar en la quiniela.
</p>
{% endblock %}

{% block contents %}
		
		<form action="/register/save" method="post" class="other-form">
			<label for="name_id">Nombre: </label>
		    <input name="name" type="text" id="name_id" value="" />
		    <br>
		
      		<label for="email_id">Correo: </label>
		    <input class="email-login" name="email" type="text" id="email_id" value="" />
		    <br>
		
		    <label for="password_id">Clave: </label>
		    <input name="password" type="password" id="password_id" value="" />
		    <br>
		    
		    <label for="password_confirm_id">Clave: </label>
		    <input name="password_confirm" type="password" id="password_confirm_id" value="" />
		    <br>
		    
		    <div id="submit-notice" class="notice">
				{{ error }}
	  		</div>
		
		    <button id="register-button" class="list-button" type="submit" name="register" value="Registrar">Registrar</button>
		</form>

{% endblock %}