{% extends 'base.html' %}

{% block contents %}
	<body>
		
		<form action="/register/save" method="post">
			<label for="name_id">Nombre: </label>
		    <input name="name" type="text" id="name_id" value="" />
		    <br>
		
      		<label for="email_id">Correo: </label>
		    <input name="email" type="text" id="email_id" value="" />
		    <br>
		
		    <label for="password_id">Clave: </label>
		    <input name="password" type="password" id="password_id" value="" />
		    <br>
		    
		    <label for="password_confirm_id">Clave: </label>
		    <input name="password_confirm" type="password" id="password_confirm_id" value="" />
		    <br>
		
		    <input type="submit" name="register" value="Registrar">
		</form>
		
	</body>
{% endblock %}