{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_title %}
<h4 id="title">Reglas y Condiciones</h4>
{% endblock %}

{% block content_description %}
En esta secci&oacute;n encontrar&aacute;s las reglas de puntuaci&oacute;n de la quiniela, as&iacute; como informaci&oacute;n sobre los premios a entregar.
{% endblock %}

{% block contents %}
	<h5 class="group-title">Reglas de Puntuaci&oacute;n</h5>
	
	<p>
		En todos los partidos de la copa, ganar&aacute;s 3 puntos por acertar &uacute;nicamente la tendencia del resultado del partido, es decir, acertar el ganador independientemente de la cantidad de goles, o 5 puntos por acertar el resultado exacto.
	</p>
	<br>
	
	<p>
		En la ronda de partidos de cuartos de final ganar&aacute;s 3 puntos por cada equipo adivinado para pasar de la ronda clasificatoria de grupos a esta ronda y 3 puntos m&aacute;s si acertaste el orden de clasificación de este equipo. 
	</p>
	<br>
	
	<p>
		En la ronda de semifinal y en los partidos de tercero/cuarto y final ganar&aacute;s 3 puntos por cada equipo acertado en cada uno de estos partidos.
	</p>
	<br>
	
	<h5 class="group-title">Distribuci&oacute;n del Pote</h5>
	
	<p>
		El pote se distribuir&aacute; en porcentajes distintos entre los 3 primeros usuarios con mejor puntaje acumulado al finalizar la copa am&eacute;rica. El pote comienza con un monto inicial de 4000 bol&iacute;vares.
	</p>
	<br>
	
	<p>
		De la compra de cada quiniela, se suma el x% de su valor al pote y al finalizar &eacute;ste se distribuir&aacute; de la siguiente forma entre los 3 ganadores:
		<br>
		<br>
			- x% para el usuario en primer lugar.
			<br>
			- x% para el usuario en segundo lugar.
			<br>
			- x% para el usuario en tercer lugar.
	</p>
{% endblock %}