{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_title %}
<h4 id="title">Reglas y Condiciones</h4>
{% endblock %}

{% block content_description %}
En esta secci&oacute;n encontrar&aacute;s las reglas de puntuaci&oacute;n de la quiniela, as&iacute; como informaci&oacute;n sobre los premios a entregar.
{% endblock %}

{% block contents %}
	<h5 class="group-title">C&oacute;mo participar</h5>
		
	<p>
		Para participar primero deber&aacute;s registrarte en el sistema. Una vez registrado podr&aacute;s crear todas las quinielas que quieras. 
		<br>
		<br>
		
		Tienes oportunidad de editar tus quinielas hasta el 1 Julio de 2011, incluso si ya las pagaste.
		<br>
		<br>
		
		Debes registrar el pago de tus quinielas antes del 1 de Julio para poder participar para ganar el pote. El registrar el pago de al menos una quiniela autom&aacute;ticamente formar&aacute;s parte del grupo "Ranking Global". En este grupo podr&aacute;s ver la tabla general de clasificaci&oacute;n y puntaje de todos los usuarios del sistema con quinielas registradas.
		<br>
		<br>
		
		Tambi&eacute;n podr&aacute;s crear grupos con tus amigos para compartir el resultado de sus quinielas y ver la clasificaci&oacute;n general de todos. 
	</p>
	<br>

	<h5 class="group-title">Costo</h5>
	
	<p>
		El costo de cada quiniela es de BsF. 100,00. Con la compra de al menos una quiniela estar&aacute;s participando por el gran pote.
	</p>
	<br>

	<h5 class="group-title">Reglas de Puntuaci&oacute;n</h5>
	
	<p>
		En todos los partidos de la copa, ganar&aacute;s 3 puntos por acertar &uacute;nicamente la tendencia del resultado del partido, es decir, acertar el ganador independientemente de la cantidad de goles, o 5 puntos por acertar el resultado exacto.
	</p>
	<br>
	
	<p>
		En la ronda de partidos de cuartos de final ganar&aacute;s 3 puntos por cada equipo adivinado para pasar de la ronda clasificatoria de grupos a esta ronda y 3 puntos m&aacute;s si acertaste el orden de clasificación de este equipo. 
	</p>
	<br>
	
	<p>
		En la ronda de semifinal y en los partidos de tercero/cuarto y final ganar&aacute;s 3 puntos por cada equipo acertado en cada uno de estos partidos.
	</p>
	<br>
	
	<h5 class="group-title">Distribuci&oacute;n del Pote</h5>
	
	<p>
		El pote se distribuir&aacute; en porcentajes distintos entre los 3 primeros usuarios con mejor puntaje acumulado al finalizar la copa am&eacute;rica. El pote comienza con un monto inicial de 4000 bol&iacute;vares.
	</p>
	<br>
	
	<p>
		Al finalizar la Copa Am&eacute;rica el pote se distribuir&aacute; de la siguiente forma entre los 3 ganadores:
		<br>
		<br>
			- 60% para el usuario en primer lugar.
			<br>
			- 30% para el usuario en segundo lugar.
			<br>
			- 10% para el usuario en tercer lugar.
	</p>
{% endblock %}
