{% extends 'base.html' %}

{% block headers %}
<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>

<script type="text/javascript"> 
$(document).ready(function(){
	loadHiddenLeft();	
})
</script>
{% endblock %}

{% block openbody %}
<body>
{% endblock %}

{% block content_description %}
	Revisa tu perfil de usuario y el estado de tus quinielas
{% endblock %}

{% block contents %}
		
		<form action="/save/profile" method="post" class="other-form" id="profile-form">
			{% ifequal user.type 0 %}
				{% if user.google_user %}
					Sesi&oacute;n iniciada con Google
					<br>
				{% endif %}	
			{% endifequal %}
	
			{% ifequal user.type 1 %}
				{% if user.facebook_user %}
					Sesi&oacute;n iniciada con Facebook
					<br>
				{% endif %}	
			{% endifequal %}
	
			{% ifequal user.type 2 %}
				{% if user.native_user %}
					Su sesi&oacute;n se encuentra activa. <br/>
					Puede modificar sus datos abajo.
					<br>
					<br>
					
					<label for="name_id">Nombre: </label>
				    <input name="name" type="text" id="name_id" value={{ user.native_user.name }} />
				    <br>
				
		      		<label for="email_id">Correo: </label>
				    <input name="email" type="text" id="email_id" value={{ user.native_user.email }} />
				    <br>
				
				    <label for="password_id">Clave: </label>
				    <input name="password" type="password" id="password_id" value="" />
				    <br>
				    
				    <label for="password_confirm_id">Clave: </label>
				    <input name="password_confirm" type="password" id="password_confirm_id" value="" />
				    <br>
				{% endif %}	
			{% endifequal %}
						
		    <button id="save-profile-button" type="submit" name="save" value="save">Guardar</button>
		    <button id="cancel-profile-button" type="submit" name="cancel" value="cancel">Cancelar</button>
		    <br>
		    
		    <h5 class="group-title">Mis Quinielas</h5>
		    
		    <table id="profile-football-pool">
		    	<tr>
					<th>Quiniela</th>
					<th>Estado</th>
					<th>Puntos</th>
			  	</tr>
		    
				{% for football_pool in football_pools_info %}
					<tr>
						<td>{{ football_pool.0 }}</td>
						<td>{{ football_pool.1 }}</td>
						<td>{{ football_pool.2 }}</td>
					</tr>
				{% endfor %}
			</table>
		</form>
		
{% endblock %}