{% extends 'base.html' %}

{% block headers %}
	<script type="text/javascript" src="/sitemedia/js/jquery-1.4.4.js"></script>
	<script type="text/javascript" src="/sitemedia/js/quinHandler.js"></script>		
{% endblock %}

{% block openbody %}<body onload="loadPrevResults();">{% endblock %}
{% block contents %}
		<h2>{{ name }}</h2>
    
		{% for group in groups %}
			<ul class="group-matches">
		    	{% for team in group.0 %}
					<li class="group-match">
						<label class="e1" for="{{ team.0|slice:":3" }}-{{ team.3|slice:":3" }}-g1">{{ team.0 }}</label> 
						<input id="{{ team.0|slice:":3" }}-{{ team.3|slice:":3" }}-g1" name="{{ team.0|slice:":3" }}-{{ team.3|slice:":3" }}-g1" class="goals-field" type="text" value="{{ team.1 }}" readonly="readonly"/> 
						<input id="{{ team.0|slice:":3" }}-{{ team.3|slice:":3" }}-g2" name="{{ team.0|slice:":3" }}-{{ team.3|slice:":3" }}-g2" class="goals-field" type="text" value="{{ team.2 }}" readonly="readonly"/> 
						<label class="e2" for="{{ team.0|slice:":3" }}-{{ team.3|slice:":3" }}-g2">{{ team.3 }}</label>
					</li>
		    	{% endfor %}
		  	</ul>
		  	
		  	<table id="table-{{ group.2 }}" class="group-table">
		  		<tr>
		  			<th>País</th>
		  			<th>G</th>
		  			<th>E</th>
		  			<th>P</th>
		  			<th>GF</th>
		  			<th>GC</th>
		  			<th>Pts</th>
		  		</tr>
		  		
			  	{% for team_info in group.1 %}
			  		<tr class="{{ team_info.1 }}">
			  			<td>{{ team_info.0 }}</td>
				  		<td>0</td>
				  		<td>0</td>
				  		<td>0</td>
				  		<td>0</td>
				  		<td>0</td>
				  		<td>0</td>
				  	</tr>
			  	{% endfor %}
		  	</table>
		  	<ul id="classif-{{ group.2 }}" class="classif-info">
		  		<li></li>
		  		<li></li>
		  		<li></li>
		  	</ul>  		
		
		{% endfor %}
		
		<ul class="group-matches">
		    {% for teams in quarter_finals_matches %}
				<li class="group-match" id="qf{{ teams.4 }}">
					<label class="e1" for="qf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1">{{ teams.0 }}</label> 
					<input id="qf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1" name="qf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1" class="goals-field" type="text" value="{{ teams.1 }}" readonly="readonly"/> 
					<input id="qf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2" name="qf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2" class="goals-field" type="text" value="{{ teams.2 }}" readonly="readonly"/> 
					<label class="e2" for="qf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2">{{ teams.3 }}</label>
				</li>
		    {% endfor %}
		</ul>
		
		<ul class="group-matches">
		    {% for teams in semi_final_matches %}
				<li class="group-match" id="sf{{ teams.4 }}">
					<label class="e1" for="sf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1">{{ teams.0 }}</label> 
					<input id="sf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1" name="sf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g1" class="goals-field" type="text" value="{{ teams.1 }}" readonly="readonly"/> 
					<input id="sf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2" name="sf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2" class="goals-field" type="text" value="{{ teams.2 }}" readonly="readonly"/> 
					<label class="e2" for="sf{{ teams.4 }}-{{ teams.0|slice:":3" }}-{{ teams.3|slice:":3" }}-g2">{{ teams.3 }}</label>
				</li>
		    {% endfor %}
		</ul>
		
		<ul class="group-matches">
			<li class="group-match" id="tf">
				<label class="e1" for="tf-{{ third_fourth_match.0|slice:":3" }}-{{ third_fourth_match.3|slice:":3" }}-g1">{{ third_fourth_match.0 }}</label> 
				<input name="tf-{{ third_fourth_match.0|slice:":3" }}-{{ third_fourth_match.3|slice:":3" }}-g1" class="goals-field" type="text" value="{{ third_fourth_match.1 }}" readolny="readonly" /> 
				<input name="tf-{{ third_fourth_match.0|slice:":3" }}-{{ third_fourth_match.3|slice:":3" }}-g2" class="goals-field" type="text" value="{{ third_fourth_match.2 }}" readonly="readonly" /> 
				<label class="e2" for="tf-{{ third_fourth_match.0|slice:":3" }}-{{ third_fourth_match.3|slice:":3" }}-g2">{{ third_fourth_match.3 }}</label>
			</li>
		</ul>
		
		<ul class="group-matches">
			<li class="group-match" id="f">
				<label class="e1" for="f-{{ final_match.0|slice:":3" }}-{{ final_match.3|slice:":3" }}-g1">{{ final_match.0 }}</label> 
				<input name="f-{{ final_match.0|slice:":3" }}-{{ final_match.3|slice:":3" }}-g1" class="goals-field" type="text" value="{{ final_match.1 }}" readolny="readonly" /> 
				<input name="f-{{ final_match.0|slice:":3" }}-{{ final_match.3|slice:":3" }}-g2" class="goals-field" type="text" value="{{ final_match.2 }}" readonly="readonly" /> 
				<label class="e2" for="f-{{ final_match.0|slice:":3" }}-{{ final_match.3|slice:":3" }}-g2">{{ final_match.3 }}</label>
			</li>
		</ul>

{% endblock %}