form.quiniela-form label#Arg-Bol-fl1{
	background-image:url('/sitemedia/img/small-flags/Argentina.png');
}

form.quiniela-form label#Arg-Bol-fl2{
	background-image:url('/sitemedia/img/small-flags/Bolivia.png');
}

form.quiniela-form label#Arg-Col-fl1{
	background-image:url('/sitemedia/img/small-flags/Argentina.png');
}

form.quiniela-form label#Arg-Col-fl2{
	background-image:url('/sitemedia/img/small-flags/Colombia.png');
}

form.quiniela-form label#Arg-Cos-fl1{
	background-image:url('/sitemedia/img/small-flags/Argentina.png');
}

form.quiniela-form label#Arg-Cos-fl2{
	background-image:url('/sitemedia/img/small-flags/CostaRica.png');
}

form.quiniela-form label#Col-Cos-fl1{
	background-image:url('/sitemedia/img/small-flags/Colombia.png');
}

form.quiniela-form label#Col-Cos-fl2{
	background-image:url('/sitemedia/img/small-flags/CostaRica.png');
}

form.quiniela-form label#Col-Bol-fl1{
	background-image:url('/sitemedia/img/small-flags/Colombia.png');
}

form.quiniela-form label#Col-Bol-fl2{
	background-image:url('/sitemedia/img/small-flags/Bolivia.png');
}

form.quiniela-form label#Bol-Cos-fl1{
	background-image:url('/sitemedia/img/small-flags/Bolivia.png');
}

form.quiniela-form label#Bol-Cos-fl2{
	background-image:url('/sitemedia/img/small-flags/CostaRica.png');
}

form.quiniela-form label#Bra-Ven-fl1{
	background-image:url('/sitemedia/img/small-flags/Brasil.png');
}

form.quiniela-form label#Bra-Ven-fl2{
	background-image:url('/sitemedia/img/small-flags/Venezuela.png');
}

form.quiniela-form label#Bra-Par-fl1{
	background-image:url('/sitemedia/img/small-flags/Brasil.png');
}

form.quiniela-form label#Bra-Par-fl2{
	background-image:url('/sitemedia/img/small-flags/Paraguay.png');
}

form.quiniela-form label#Bra-Ecu-fl1{
	background-image:url('/sitemedia/img/small-flags/Brasil.png');
}

form.quiniela-form label#Bra-Ecu-fl2{
	background-image:url('/sitemedia/img/small-flags/Ecuador.png');
}

form.quiniela-form label#Par-Ecu-fl1{
	background-image:url('/sitemedia/img/small-flags/Paraguay.png');
}

form.quiniela-form label#Par-Ecu-fl2{
	background-image:url('/sitemedia/img/small-flags/Ecuador.png');
}

form.quiniela-form label#Par-Ven-fl1{
	background-image:url('/sitemedia/img/small-flags/Paraguay.png');
}

form.quiniela-form label#Par-Ven-fl2{
	background-image:url('/sitemedia/img/small-flags/Venezuela.png');
}

form.quiniela-form label#Ven-Ecu-fl1{
	background-image:url('/sitemedia/img/small-flags/Venezuela.png');
}

form.quiniela-form label#Ven-Ecu-fl2{
	background-image:url('/sitemedia/img/small-flags/Ecuador.png');
}

form.quiniela-form label#Chi-Mex-fl1{
	background-image:url('/sitemedia/img/small-flags/Chile.png');
}

form.quiniela-form label#Chi-Mex-fl2{
	background-image:url('/sitemedia/img/small-flags/Mexico.png');
}

form.quiniela-form label#Uru-Chi-fl1{
	background-image:url('/sitemedia/img/small-flags/Uruguay.png');
}

form.quiniela-form label#Uru-Chi-fl2{
	background-image:url('/sitemedia/img/small-flags/Chile.png');
}

form.quiniela-form label#Chi-Per-fl1{
	background-image:url('/sitemedia/img/small-flags/Chile.png');
}

form.quiniela-form label#Chi-Per-fl2{
	background-image:url('/sitemedia/img/small-flags/Peru.png');
}

form.quiniela-form label#Uru-Per-fl1{
	background-image:url('/sitemedia/img/small-flags/Uruguay.png');
}

form.quiniela-form label#Uru-Per-fl2{
	background-image:url('/sitemedia/img/small-flags/Peru.png');
}

form.quiniela-form label#Uru-Mex-fl1{
	background-image:url('/sitemedia/img/small-flags/Uruguay.png');
}

form.quiniela-form label#Uru-Mex-fl2{
	background-image:url('/sitemedia/img/small-flags/Mexico.png');
}

form.quiniela-form label#Per-Mex-fl1{
	background-image:url('/sitemedia/img/small-flags/Peru.png');
}

form.quiniela-form label#Per-Mex-fl2{
	background-image:url('/sitemedia/img/small-flags/Mexico.png');
}



