form.quiniela-form label#Arg-Bol-g1{
	background-image:url('/sitemedia/img/small-flags/Argentina.png');
}

form.quiniela-form label#Arg-Bol-g2{
	background-image:url('/sitemedia/img/small-flags/Bolivia.png');
}

form.quiniela-form label#Arg-Col-g1{
	background-image:url('/sitemedia/img/small-flags/Argentina.png');
}

form.quiniela-form label#Arg-Col-g2{
	background-image:url('/sitemedia/img/small-flags/Colombia.png');
}

form.quiniela-form label#Arg-Cos-g1{
	background-image:url('/sitemedia/img/small-flags/Argentina.png');
}

form.quiniela-form label#Arg-Cos-g2{
	background-image:url('/sitemedia/img/small-flags/CostaRica.png');
}

form.quiniela-form label#Col-Cos-g1{
	background-image:url('/sitemedia/img/small-flags/Colombia.png');
}

form.quiniela-form label#Col-Cos-g2{
	background-image:url('/sitemedia/img/small-flags/CostaRica.png');
}

form.quiniela-form label#Col-Bol-g1{
	background-image:url('/sitemedia/img/small-flags/Colombia.png');
}

form.quiniela-form label#Col-Bol-g2{
	background-image:url('/sitemedia/img/small-flags/Bolivia.png');
}

form.quiniela-form label#Bol-Cos-g1{
	background-image:url('/sitemedia/img/small-flags/Bolivia.png');
}

form.quiniela-form label#Bol-Cos-g2{
	background-image:url('/sitemedia/img/small-flags/CostaRica.png');
}

form.quiniela-form label#Bra-Ven-g1{
	background-image:url('/sitemedia/img/small-flags/Brasil.png');
}

form.quiniela-form label#Bra-Ven-g2{
	background-image:url('/sitemedia/img/small-flags/Venezuela.png');
}

form.quiniela-form label#Bra-Par-g1{
	background-image:url('/sitemedia/img/small-flags/Brasil.png');
}

form.quiniela-form label#Bra-Par-g2{
	background-image:url('/sitemedia/img/small-flags/Paraguay.png');
}

form.quiniela-form label#Bra-Ecu-g1{
	background-image:url('/sitemedia/img/small-flags/Brasil.png');
}

form.quiniela-form label#Bra-Ecu-g2{
	background-image:url('/sitemedia/img/small-flags/Ecuador.png');
}

form.quiniela-form label#Par-Ecu-g1{
	background-image:url('/sitemedia/img/small-flags/Paraguay.png');
}

form.quiniela-form label#Par-Ecu-g2{
	background-image:url('/sitemedia/img/small-flags/Ecuador.png');
}

form.quiniela-form label#Par-Ven-g1{
	background-image:url('/sitemedia/img/small-flags/Paraguay.png');
}

form.quiniela-form label#Par-Ven-g2{
	background-image:url('/sitemedia/img/small-flags/Venezuela.png');
}

form.quiniela-form label#Ven-Ecu-g1{
	background-image:url('/sitemedia/img/small-flags/Venezuela.png');
}

form.quiniela-form label#Ven-Ecu-g2{
	background-image:url('/sitemedia/img/small-flags/Ecuador.png');
}

form.quiniela-form label#Chi-Mex-g1{
	background-image:url('/sitemedia/img/small-flags/Chile.png');
}

form.quiniela-form label#Chi-Mex-g2{
	background-image:url('/sitemedia/img/small-flags/Mexico.png');
}

form.quiniela-form label#Uru-Chi-g1{
	background-image:url('/sitemedia/img/small-flags/Uruguay.png');
}

form.quiniela-form label#Uru-Chi-g2{
	background-image:url('/sitemedia/img/small-flags/Chile.png');
}

form.quiniela-form label#Chi-Per-g1{
	background-image:url('/sitemedia/img/small-flags/Chile.png');
}

form.quiniela-form label#Chi-Per-g2{
	background-image:url('/sitemedia/img/small-flags/Peru.png');
}

form.quiniela-form label#Uru-Per-g1{
	background-image:url('/sitemedia/img/small-flags/Uruguay.png');
}

form.quiniela-form label#Uru-Per-g2{
	background-image:url('/sitemedia/img/small-flags/Peru.png');
}

form.quiniela-form label#Uru-Mex-g1{
	background-image:url('/sitemedia/img/small-flags/Uruguay.png');
}

form.quiniela-form label#Uru-Mex-g2{
	background-image:url('/sitemedia/img/small-flags/Mexico.png');
}

form.quiniela-form label#Per-Mex-g1{
	background-image:url('/sitemedia/img/small-flags/Peru.png');
}

form.quiniela-form label#Per-Mex-g2{
	background-image:url('/sitemedia/img/small-flags/Mexico.png');
}



